html {
  background-color: #fcdad5;
}

#app {
  width: 100%;
  text-align: center;
}

h4 {
  margin: 0;
  padding: 0;
}

.index {
  display: inline-flex;
  align-items: center;
}

.lineIndex {
  color: #c18c00;
}

.content {
  color: rgb(255, 102, 102);
  height: 80px;
}
.buttonAddClear {
  outline-style: auto;
  background-color: transparent;
  border-radius: 9px;
  color: green;
  margin-left: 7px;
  margin-right: 7px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  height: 24px;
}

.input {
  display: inline-flex;
}

.inputBar {
  border-color: blueviolet;
}

.itemList {
  color: rgb(255, 153, 51);
  padding-left: 10px;
  padding-right: 10px;
}

.buttonRemove {
  color: rgb(255, 102, 178);
}

.textButton {
  padding-left: 2px;
}

.buttonFix {
  margin-left: 5px;
  margin-right: 5px;
  color: rgb(200, 46, 49);
}

.generatePassword {
  padding-bottom: 5px;
}

.buttonPassword {
  color: rgb(51, 0, 51);
}

.inputLength {
  width: 50px;
}

.setting {
  display: inline-flex;
  color: rgb(128, 128, 128);
}

.checkBox {
  padding-left: 5px;
  padding-right: 5px;
}

.linePassword {
  margin-bottom: 5px;
}

.linePicked {
  margin-bottom: 5px;
  color: rgb(128, 0, 0);
}

table,
th,
td {
  border: 1px solid black;
}

.fullPass {
  height: 120px;
}

.code {
  height: 24px;
}

.inputOne {
  width: 100px;
}

/* Pagination */
.page {
  padding: 0.25rem;
}

.page:hover {
  cursor: pointer;
}

.active {
  color: white;
  background-color: red;
  border-radius: 0.5rem;;
}