html {
    background-color: #FCDAD5;
}

#app {
    width: 100%;
    text-align: center;
}

h4 {
    margin: 0;
    padding: 0;
}

.index {
    display: inline-flex;
    align-items: center;
}
.oneLine{
}

.lineIndex{
    color: #C18C00;
}

.content{
    color: rgb(255, 102, 102);
}
.buttonAdd {
    outline-style: auto;
    background-color: transparent;
    border-radius: 9px;
    color:green;
    margin-left: 7px;
    padding-top: 2px;
    display:flex; 
    align-items:center; 
    height: 24px;
}

.input {
    display: inline-flex;

}

.inputBar {
    border-color: blueviolet;
}

.itemList {
    color: rgb(255,153,51);
    padding-left: 10px;
    padding-right: 10px;
}

.buttonRemove {
    color: rgb(255,102,178);
}

.textButton {
    padding-left: 2px;
}

.weatherWidget {

}

.weatherWidgetTableOne{
    border-top: 2px solid #DF0029;
    border-bottom: 2px solid #50A625;
    border-left: 2px solid #00676B;
    width: 50%;
}

.weatherWidgetTableTwo {
    border-top: 2px solid #DF0029;
    border-right: 2px solid #C18C00;
    border-bottom: 2px solid #50A625;
    border-left: 2px solid #363636;
    width: 50%;
}
