<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Todolist</title>
    </head>
    <body>
        <div id="app" style="text-align: center; width:100%; padding-top: 70px; font-family:'Times New Roman', Times, serif">
            <h2 style="color: tomato;">My Dragon List with LocalStorage, Vuejs</h2>
            <input type="text" v-model="task" />
            <button v-on:click="addTask()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                    <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                </svg>            
                Add
            </button>
            <p v-show="!tasks.length" style="color: red;"> No task </p>
            <ul>
                <li v-for="task in tasks">
                    <h4 style="color: brown;">{{ task.name }}
                        <a href="#" v-on:click.prevent="removeTask(task)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-x" viewBox="0 0 16 16">
                                <path d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                                <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                            </svg>
                            Remove
                        </a>
                    </h4>
                </li>
            </ul>
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script>
            Vue.createApp ({
                data() {
                    return {
                        tasks: [],
                        task: "",
                    };
                },
                created() {
                    this.tasks = JSON.parse(localStorage.getItem("tasks")) || [];
                },
                methods: {
                    addTask() {
                        this.tasks.push ({
                            id: Date.now(),
                            name: this.task,
                        });
                        localStorage.setItem("tasks", JSON.stringify(this.tasks));
                        this.task = "";
                    },

                    removeTask(task) {
                        let newTasks = this.tasks.filter(function (item){
                            return task.id !== item.id;
                        });

                        this.tasks = newTasks;
                        localStorage.setItem("tasks", JSON.stringify(this.tasks));
                    },
                },
            }).mount("#app");
        </script>
    </body>
</html>