<div class="fullCode" style="height: auto; padding-top: 20px ;">
    <div class="code">
        <button v-on:click="isClean()">
            Clean
        </button>
        
        <button v-on:click="isTakes()">
            Takes
        </button>

        <button v-on:click="isClear()">
            Clear
        </button>


        <div style="display: flex; justify-content:center; padding-top: 5px;">
            <label>Code:</label>
            <input v-if="hiddenCode == true" type="password" class="inputOne" v-model="code"/>
            <input v-if="hiddenCode == false" type="text" class="inputOne" v-model="code"/>

            <label style="padding-left: 5px;">Hidden</label>
            <input type="checkbox" v-model="hiddenCode" checked/>    
        </div>
    </div>
