            <!-- Modal Edit Account -->
            <div class="modalAccounts">
                <div id="myModal" v-bind:class="{hideModal:isHide, showModal:isShow}">

                    <div class="modal-content">

                        <!-- Line One (Title) -->
                        <div class="titleModalEditAccount">
                            <div>
                                <h2>Edit Account</h2>
                            </div>
                            <div>
                                <label>Code:</label>
                                <input class="inputEditCode" v-model="editCode"/>
                            </div>
                        </div>
                    
                        <!-- Line Two -->
                        <div class="rowTwo">
                            <div class="columnOne">
                                <div>    
                                    <div class="userNameAccount">
                                        <label>
                                            Page Name: 
                                        </label>
                                        <input v-model="pageName"/>
                                    </div>

                                    <div class="passwordAccount">
                                        <label>
                                            Link:
                                        </label>
                                        <input v-model="link"/>
                                    </div>
                                </div>

                                <div class="labelInfo">
                                    <label>Info: </label>
                                </div>

                                <div>
                                    <textarea class="textareaAccount" v-model="info">
                                    </textarea>
                                </div>
                            </div>

                            <div class="columnTwo">
                                <div>    
                                    <div class="userNameAccount">
                                        <label>
                                            User Name: 
                                        </label>
                                        <input v-model="userName"/>
                                    </div>

                                    <div class="passwordAccount">
                                        <label>
                                            Password:
                                        </label>
                                        <input v-model="password"/>
                                    </div>
                                </div>

                                <div class="labelInfo">
                                    <label>Note: </label>
                                </div>

                                <div>
                                    <textarea class="textareaAccount" v-model="note">
                                    </textarea>
                                </div>
                            </div>

                        </div>

                        <!-- Line Button -->
                        <div class="buttonEditAccount">
                            <button v-on:click="editData()">
                                Update
                            </button>

                            <button v-on:click="closeModal()">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

